.news-edit__image-item {
    float: left;
    margin: 0 10px 10px 0;
    text-align: center;
    z-index: 10;
}

.news-edit__image-item > img {
    height: auto;
    width: 75px;
}

.news-edit__image-item > button {
    visibility: hidden;
}

.news-edit__image-item:hover > button {
    visibility: visible;
}