.news-edit__image-item {
    display: inline-block;
    text-align: center;
    z-index: 10;
}

.news-edit__image-item > button {
    visibility: hidden;
}

.news-edit__image-item:hover > button {
    visibility: visible;
}