.auth-login .form-group {
    position: relative;
}

.auth-login [name=password] + a {
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 8px;
}

.auth-login [type=submit] {
    display: block;
    margin: 0 auto;
}
.bootbox.modal .modal-dialog {
    padding-top: 150px;
}

.bootbox.modal .bootbox-body {
    font-size: 20px;
    margin: 10px 0 -10px;
}
/* Table of Contents:

    Anchors
    Button group
    Checkbox
    Dropdown
    Forms
    Labels
    Navbar
    Panel
    Table

*/

/* Anchors
----------------------------------------------------------------------------- */

a:focus {
    outline: none;
}

/* Button group
----------------------------------------------------------------------------- */

.btn-group-justified .btn {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Checkbox
----------------------------------------------------------------------------- */

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    margin-top: 4px; /* Fix for IE*/
}

/* Dropdown
----------------------------------------------------------------------------- */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > span {
    clear: both;
    color: #333333;
    cursor: default;
    display: block;
    font-weight: normal;
    line-height: 1.428571429;
    padding: 3px 20px;
    white-space: nowrap;
}

.dropdown-submenu > span:hover,
.dropdown-submenu > span:focus {
    background-color: #428bca;
    color: #ffffff;
    text-decoration: none;
}

.dropdown-submenu > a:after,
.dropdown-submenu > span:after {
    border-color: transparent;
    border-left-color: #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    width: 0;
}

.dropdown-submenu:hover > span:after,
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu > .dropdown-menu {
    border-radius: 0 6px 6px 6px;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    top: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    border-radius: 6px 0 6px 6px;
    left: -100%;
    margin-left: 10px;
}

/* Forms
----------------------------------------------------------------------------- */

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

/* Labels
----------------------------------------------------------------------------- */

.label-danger a {
    color: #63c2fe;
}

/* Navbar
----------------------------------------------------------------------------- */

/* Show dropdown on hover rather than click */
.nav > li:hover > .dropdown-menu {
    display: block;
    margin: 0;
}

.navbar-static-bottom {
    background: #2e2e2e;
    color: #ffffff;
    line-height: 50px;
    margin: -2px 0 0;
    padding: 0 50px;
}

.navbar-static-bottom .navbar-nav > li {
    border-right: 1px solid #ccc;
    margin: 0 20px 0 0;
    padding: 0 20px 0 0;
}

.navbar-static-bottom .navbar-nav > li:last-child {
    border-right: none;
}

.navbar-static-bottom .navbar-nav > li > a,
.navbar-static-bottom .navbar-nav > li > a:focus,
.navbar-static-bottom .navbar-nav > li > a:hover {
    color: #ffffff;
    padding: 0;
    text-decoration: underline;
}

.navbar-static-bottom .navbar-nav > li > a.inline {
    display: inline;
    padding-left: 0;
}

.navbar-static-bottom .navbar-nav.navbar-right > li > a {
    padding: 15px 10px;
}

.navbar-static-top {
    border-radius: 7px;
    box-shadow: 2px 1px 2px #000000;
}

/* Panel
----------------------------------------------------------------------------- */

.panel {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/* Table
----------------------------------------------------------------------------- */

.table.table-row-middle > tbody > tr > td {
    vertical-align: middle;
}

table > thead > tr > th {
    position: relative;
    vertical-align: top !important;
}

table > thead > tr > th > a[data-sort] {
    padding-right: 22px;
}

table > thead > tr > th > a[data-sort]:after {
    content: "\e150";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    display: block;
    opacity: 0.7;
    position: absolute;
    right: 12px;
    top: 11px;
}

table > thead > tr > th > a[data-sort].asc:after {
    content: "\e155";
}

table > thead > tr > th > a[data-sort].desc:after {
    content: "\e156";
}
.ui-widget-content a,
.ui-state-highlight a,
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a{
    color: #428bca;
}

.ui-jqgrid tr.jqgrow td {
    white-space: normal;
}

.ui-jqgrid tr.ui-search-toolbar td input {
    border: medium none;
    border-radius: 3px;
    margin: 3px auto;
}
.news-edit__image-item {
    float: left;
    margin: 0 10px 10px 0;
    text-align: center;
    z-index: 10;
}

.news-edit__image-item > img {
    height: auto;
    width: 75px;
}

.news-edit__image-item > button {
    visibility: hidden;
}

.news-edit__image-item:hover > button {
    visibility: visible;
}
.news-view__image-thumb {
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
}
.recaptcha_theme_blackglass #recaptcha_response_field,
.recaptcha_theme_white #recaptcha_response_field {
    line-height: normal;
}
.results-phase-completed {
    vertical-align: text-bottom !important;
}

.results-place-item {
    margin: 10px auto;
}
[class^="img-"],[class*=" img-"]{background-image:url("/images/sprite.png");background-position:0 0;background-repeat:no-repeat;display:inline-block;height:64px;vertical-align:middle;width:64px;}.img-document-icon-default-64{background-position:-0px 0;height:64px;width:64px;}.img-document-icon-doc-64{background-position:-64px 0;height:64px;width:64px;}.img-document-icon-pdf-64{background-position:-128px 0;height:64px;width:64px;}.img-document-icon-psd-64{background-position:-192px 0;height:64px;width:64px;}.img-document-icon-rar-64{background-position:-256px 0;height:64px;width:64px;}.img-document-icon-zip-64{background-position:-320px 0;height:64px;width:64px;}.img-language-en-16{background-position:-384px 0;height:16px;width:16px;}.img-language-ru-16{background-position:-400px 0;height:16px;width:16px;}.img-language-uk-16{background-position:-416px 0;height:16px;width:16px;}.img-layout-github-24{background-position:-432px 0;height:24px;width:24px;}.img-layout-mail-24{background-position:-456px 0;height:24px;width:24px;}.img-layout-twitter-24{background-position:-480px 0;height:24px;width:24px;}
/* Table of Contents:

    Basic styles
    Document
    News
    Staff - Qa Tags

*/

/* Basic styles
----------------------------------------------------------------------------- */

html,
body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 14px;
    height: 100%;
}

body {
    padding-bottom: 50px;
}

body > div#main {
    background: #ffffff;
    height: auto;
    min-height: 100%;
}

body > div#main .container {
    padding-bottom: 70px;
}

.app-env-label {
    color: #ccc;
    left: -44px;
    position: fixed;
    top: 80px;
    width: 100px;

-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}

.header-title {
    background-image: url('../images/layout/flag.png');
    background-size: 100% 100px;
    background-repeat: no-repeat;
    border-radius: 7px;
    box-shadow: 2px 2px 3px #000000;
    font-size: 32px;
    height: 100px;
    margin: 10px 0 20px;
    text-align: center;
    text-shadow: 1px 1px 2px #777;
    vertical-align: middle;
}

.header-title table {
    width: 100%;
}

.header-title table td {
    padding: 0 20px;
}

.page-top-controls {
    width: 100%;
}

.page-top-controls td {
    padding-right: 10px;
    width: 10px;
}

.page-top-controls td:last-child {
    text-align: right;
    width: 100%;
}

.slogan {
    font-size: 18px;
    font-style: italic;
    text-align: right;
    margin: -10px 10px 10px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.break-word {
    word-wrap: break-word;
}

/* Document
----------------------------------------------------------------------------- */

.document {

}

.document .document-title {
    font-size: 20px;
}

.document .document-size {
    font-style: italic;
}

/* News
----------------------------------------------------------------------------- */

.news {

}

.news .news-date {
    color: #888888;
    font-style: italic;
    margin: 0 0 10px;
}

.news .news-status-switcher {
    display: inline-block;
    margin-left: 20px;
}

.news .news-title {
    margin-bottom: 0;
}

/* Staff - Qa Tags
----------------------------------------------------------------------------- */

.qatags__manage-table {
    table-layout: fixed;
}
